body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #CC1714;
    color: #FF684B;
    /*
    #FF684B
    #CC1714
    #00FFDF
    #3D7399
    #1480CC
    */
}
.main {
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}
.stats>*{
    display:inline-block;
    vertical-align: top;
    text-align: left;
    max-width:80%
}
.board{
    margin:0;
    padding:0;
}
table{
    border-spacing: 1px 1px 0 0;
}
td,th{
    text-align: right;
    padding: 0.2em 0.5em 0 0;
    margin:0;
    background-color: #FF684B;
    color: #CC1714;
    width:1.5em;
    height:1.5em;
    line-height: 1.5em;
}
td{
    background-color: white;
}
td,th{
    margin:0;
    transition: background-color 200ms linear;
}
.question {
    width:100%;
}
@media only screen and (min-width: 768px) {
    .question{ 
        font-size: 7em;
        margin-top:1em;
    }
}
@media only screen and (max-width: 767px) {
    .question{ 
        font-size: 3em;
        margin-top:0.5em;
    }
}
.highlight {
    background-color:light#FF684B;
}
th.highlight,tr.highlight>th{
    background-color: #FF684B;
    color:darkred;    
}
input[type="number"] {
    font-size: 1em;
    outline: none;
    color: #CC1714;
    border: 1px solid white;
    display: inline-block;
    font-family: inherit;
    box-shadow: white 0px 0px 20px;
}
input:hover{
    box-shadow: white 0px 0px 40px;
}
.progress{
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: white;

}
.OK input{
    box-shadow: yellowgreen 0px 0px 40px;
    background-color: yellowgreen;
    color: white;
}
.test{
    width:100px;
}
/*
.results span{
    display:inline-block;
    padding:2px;
    background-color: #C01310;
    margin:2px 2px 0 0;
    border-radius: 0.3em;
}
*/
.a,.b,input{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: #FF684B;
    color: #CC1714;
    border-radius: 1em;
    text-align: center;
    line-height: 1.45em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.time{
    display: inline-block;
    text-align: center;
    height:1px;
    width:100%;
    background-color: FF684B;
    margin:2em;
}
.test{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.out {
    opacity:0.2;
    background-color: black;
 }

.results{
    position:relative;
    height:1em;
    width: 
}
.bg{
    background: linear-gradient(to top, rgba(204,23,20,1) 0%,rgba(255,104,75,0.5) 99%, rgba(255,255,255,0.7) 100%); 
    width:100%;
    height:100%;
    position: absolute;
    bottom: 0;
    left: 0;


}
